{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2>Créer une nouvelle revue</h2>

<div class="w-50 mx-auto">
    <div class="border">
        <h4>Titre: {{ form.ticket.title }}</h4>
        <p>Description: {{ form.ticket.description }}</p>
        {% if form.ticket.image %}
            <img src="{% static form.ticket.image.url %}" class="img-fluid"/>
        {% endif %}
    </div>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p}}
        <input type="submit" value="Envoyer">
    </form>
</div>
{% endblock %}